<launch>
  
  <!-- Start the VRPN Client -->
  <include file="/opt/ros/kinetic/share/vrpn_client_ros/launch/OF_F330.launch"/>

  <!-- Start coms to PixHawk via Mavros -->
  <include file="/opt/ros/kinetic/share/mavros/launch/px4.launch"/>

  <!-- Start the camera node -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="30"/>
  </node>
  
  <!-- Start the optic flow node -->
  <node pkg="optic_flow_code" type="optic_flow_process.py" name="OF_node" output="screen" />

</launch>
